p{
    margin-bottom: 1px;
}

.container-recipe-cards{

    display: grid;
    grid-template-columns: repeat(3, 1fr); // Crée trois colonnes de taille égale
    gap: 20px; // Espace entre les cartes
    position: relative;
    margin: 0px 30px;
  
@media screen and (max-width: 800px){
    grid-template-columns: repeat(1, 1fr); // Crée trois colonnes de taille égale

}

    &-item{
        background-color: whitesmoke;
        border-radius: 10px;
        height: 660px;
        font-family: $fontText;
        font-size: 14px;

        :not(img){
        padding: 0px 20px;
        }
      
        
        

        &-img{
            width: 100%;
            object-fit: cover;
            height: 250px;
            border-radius: 10px;
            
        }

        &-title{
            font-family: $fontTitle;
            font-size: 18px;
        }

        &-ingredientsList{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            // line-height: 25px;
            padding: 0 !important;

            &-item{
                margin-bottom: 20px;
            }


            
        

        }


        &-containerTime{
            width:60px;
            height: 25px;
            border-radius: 10px;
            background-color: $mainColour;
            position: relative;
            bottom: 33%;
            left: 83%;
            // text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0 !important;

            &-time{
                padding: 0 !important;
                margin-top: none;
            }
        }

        &-secondTitle,
        &-thirdTitle,
        .grey-title{
            color: grey;
            font-size: 12px;
            font-weight: bold;
        }

        .grey-title{
            padding:0 !important;
        }
    }


}

