

.container-filtres li:hover{
    background-color: $mainColour;
    cursor: pointer;
}

.container-filtres ul{
    padding: 0;
    text-align: left;
}

.container-filtres li{
padding: 10px 0px 10px 30px;
}

.dropdown-menu.show{
    width:300px;
}


.dropdown-menu.show{

    max-height: 250px;
     overflow-y: auto;
}



.dropdown-toggle[aria-expanded="true"]::after {
    transform: rotate(180deg); 
  }
  

  .dropdown-toggle[aria-expanded="false"]::after {
    transform: rotate(0deg); 
  }