.container-filtres{

    display: flex;
    justify-content: space-between;
    position: relative;
    margin: 10px 60px 10px 60px;
   

    &-tags{
        display: flex;
        justify-content: space-around;
        gap: 60px;
        
    //    background-color: red;

    select{
        width: 195px;
        height: 30px;
        border-radius: 11px;
    }

    }
    &-results{
    //     display: flex;
    //   margin: 60px;
    font-weight: bold;
      
    }
    
}