

.header
{
    background-image: url(../pictures/header/cover-picture.png);
    background-repeat: none;
    background-size: cover;
    height: 550px;
    width: 100%;
    

    &-logo{
    margin: 50px 0px 100px 50px;
    width: 207px;
    height: 25px;
  
    
    }

    &-title{
    color: $mainColour;
    font-size: 44px;
    font-family: $fontTitle;
    text-align: center;
    margin-bottom: 30px;
}
    

    &-form{
        // background-color: red;
        display: flex;
        justify-content: center;
        align-items: center;

        &-input{
            width: 65%;
            height: 44px;
            position: relative;
            border-radius: 10px;
            border: 0;
            padding: 30px;

            &:focus{
                outline: none;
            }

        }

        &-icon{
            position: absolute;
            right: 19%;
            height: 40px;
            // transition: fill 0.6s ease, stroke 0.6s ease;
            rect,
            circle,
            line {
                transition: fill 0.5s ease, stroke 0.5s ease;
            }
            
            &:hover{
                cursor: pointer;
            }

            &:hover rect {
                fill: $mainColour;
            }

            &:hover circle{
                stroke: black;
                fill: $mainColour;
            }
            &:hover line
            {
                stroke: black;
                fill: black;
            }
            
circle,
 line {
    stroke: white;
    fill: black;
}
        }

        &-close{
            position: absolute;
            bottom: 345px;
            right: 25%;
            width: 20px;
            height: 20px;
            
            
        }

        &-close:hover{
            cursor: pointer;
        }
    }

}




